{% extends 'gestion_actividades/base.html' %}

{% block titulo %}Confirmar cancelación{% endblock %}

{% block contenido %}
    <h1>Confirmar cancelación de plaza</h1>

    <p class="mensaje-eliminar">
        ¿Estás seguro de que quieres cancelar la inscripción de <strong>{{ usuario.nombre }}</strong> en la actividad <strong>{{ actividad.nombre }}</strong>?
    </p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn-rojo">Sí, cancelar inscripción</button>
    </form>

    <a class="volver" href="{% url 'listar_inscripciones' actividad.id %}">No, volver al listado</a>
{% endblock %}