{% extends 'gestion_actividades/base.html' %}

{% block titulo %}Detalle de sala{% endblock %}

{% block contenido %}
    <h1>{{ sala.nombre }}</h1>

    <div class="detalle-info">
        <p><strong>Capacidad:</strong> {{ sala.capacidad }} personas</p>
        <p><strong>Ubicación:</strong> {{ sala.ubicacion }}</p>
        <p><strong>Responsable Técnico:</strong> {{ sala.responsable.nombre }} ({{ sala.responsable.email }})</p>
    </div>

    <div class="acciones">
        <a href="{% url 'editar_sala' sala.id %}" class="btn btn-editar">Editar</a>
        <a href="{% url 'eliminar_sala' sala.id %}" class="btn btn-rojo">Eliminar</a>
        <a href="{% url 'lista_salas' %}" class="btn btn-volver">Volver al listado de salas</a>
    </div>

{% endblock %}