{% extends 'gestion_actividades/base.html' %}

{% block titulo %}Detalle Responsable{% endblock %}

{% block contenido %}
    <h1>{{ responsable.nombre }}</h1>

    <div class="detalle-info">
        <p><strong>Teléfono:</strong> {{ responsable.telefono }}</p>
        <p><strong>Email:</strong> {{ responsable.email }}</p>
    </div>

    <div class="acciones">
        <a href="{% url 'editar_responsable' responsable.id %}" class="btn btn-editar">Editar</a>
        <a href="{% url 'eliminar_responsable' responsable.id %}" class="btn btn-rojo">Eliminar</a>
        <a href="{% url 'lista_responsables' %}" class="btn btn-volver">Volver al listado</a>
    </div>

{% endblock %}