{% extends 'gestion_actividades/base.html' %}

{% block titulo %}Eliminar actividad{% endblock %}

{% block contenido %}
    <h1>Eliminar actividad</h1>

    <p class="mensaje-eliminar">¿Estás seguro de que quieres eliminar la actividad "{{ actividad.nombre }}"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn-rojo">Sí, eliminar</button>
    </form>

    <a href="{% url 'detalle_actividad' actividad.id %}" class="btn btn-volver">Cancelar</a>
{% endblock %}