<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de usuarios</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'gestion_actividades/styles.css' %}">
</head>
<body>
    <div class="contenedor">
        <h1>Usuarios inscritos</h1>

        <a href="{% url 'nuevo_usuario' %}">Crear nuevo usuario</a>

        <ul>
            {% for usuario in usuarios %}
                <li>
                    <a href="{% url 'detalle_usuario' usuario.id %}">
                        {{ usuario.nombre }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>