{% extends 'gestion_actividades/base.html' %}

{% block titulo %}Lista de Responsables{% endblock %}

{% block contenido %}
    <h1>Responsables de Sala</h1>

    <a href="{% url 'nuevo_responsable' %}" class="btn btn-nuevo">Añadir nuevo responsable</a>

    <ul class="lista-datos">
        {% for r in responsables %}
            <li>
                <a href="{% url 'detalle_responsable' r.id %}">{{ r.nombre }}</a>
            </li>
        {% empty %}
            <li class="lista-vacia">No hay responsables asignados todavía.</li>
        {% endfor %}
    </ul>

    <div class="acciones-grid">
        <a href="{% url 'menu_salas' %}" class="btn btn-volver">Volver al Menú de Salas</a>
    </div>

{% endblock %}